.avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

.avatar img {
    width: 100%;
    height: auto;
    /* object-fit: fill; */
}

.btn-edit-info, .btn-edit-info:not(.disabled):active {
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-size: 16px;
}

.btn-edit-info:hover {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    transform: scale(1.02);
}