p {
    margin: 0;
}

.desc {
    font-size: 13px;
    color: rgba(38, 37, 37, 0.826);
}

.form-check-input {
    border-color: var(--primary);
}

input[type="checkbox"]:not(:checked) {
    box-shadow: 0 0 2px 1px var(--primary);
    border-color: rgb(249, 207, 166);
}

input[type="checkbox"]:checked {
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: 0 0 3px 1px var(--primary);
}

.list-group-custom {
    box-shadow: 0px 0px 1px var(--primary);   
}

.btn-pay {
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-size: 18px;
}

.btn-pay:hover {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
    transform: scale(1.02);
}

 .btn-pay:not(.disabled):active {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;
}

.btn-delete {
    background: none;
    border: none;
    color: var(--primary);
}

.work-list {
    box-shadow: 0px 0px 2px var(--primary);
    padding: 1rem;
}

input[type="radio"]:checked {
    border-color: var(--primary);
    background-color: var(--primary);
    box-shadow: 0 0 3px 2px var(--primary);
}

.title {
    color: black;
    text-decoration: none;
}

.title:hover {
    color: var(--primary);
    transform: scale(1.02);
    transition: all .1s linear;
}